@use '../../../styles/abstract/variables' as *;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: $primary;
	min-height: $header-height;
	padding: 0 2rem;
}

.list {
	display: flex;
	gap: 1rem;
}
