.container {
	display: grid;
	place-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url('../../../public/marina-bay.jpeg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 20rem;
}

.text {
	display: grid;
	place-items: center;
	color: var(--text-alternate);
}
