/* import sanitize.css */
@import url(~sanitize.css);
@import url(~sanitize.css/forms.css);
@import url(~sanitize.css/typography.css);

/* variables */
:root {
	--primary: #e11d48;
	--bg-primary: #fafafa;
	--text-primary: #171717;

	--header-height: 4rem;
	--footer-height: 4rem;
}

* {
	margin: 0;
}

body {
	color: var(--text-primary);
	font-family: 'Noto Sans Display', 'Noto Sans Thai', sans-serif;
}
